.order_list{
    font-size: 15px;
    display: flex;
    border-radius: 14px;
    background-color: #ffffff;
    align-items: center;
    gap: 10px;
}


.order_count, .order_price
{
    margin-inline-start: 0px;
    font-size: 15px;
}


.order_option{
    margin-top: 0;
    font-size: 13px;
}