
.option_category{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    color: #000000;
}


.option_item{
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    flex-wrap: wrap; /* 화면 크기에 맞게 줄 바꿈 */
    margin-bottom: 0px;
}


.option_detail{
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: 5px; /* 항목 간격 */
    width: 87px;
    height: 90px;
    background: rgba(184, 211, 237, 0.3);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column; /* 수직 방향으로 정렬 */
    align-items: center; /* 가로축 중앙 정렬 */
    justify-content: center; /* 세로축 중앙 정렬 */
}


.option_detail.selected {
    background: rgba(184, 211, 237, 0.8);
}


.option_img{
    width: 50px;
}

.option_name{
    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}



.option_price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}