.option_title{
    display: flex;
    justify-content: center;
}

.menu_detail_container{
    display: flex;  /* 이미지와 텍스트를 가로로 배치 */
    align-items: flex-start;  /* 텍스트 세로 정렬 */
}

.menu_img{
    width: auto;
    height: 150px;
    margin-right: 20px;
}

.menu_text_container {
    display: flex;
    flex-direction: column; /* 텍스트들을 세로로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    margin-top: 30px;
}

.menu_name, .menu_price, .menu_desc {
    margin: 0; /* 각 텍스트 간의 여백 없애기 */
    padding: 5px 0; /* 텍스트 간격을 적당히 설정 */
}

.menu_name{
    font-size: 15px;
    font-weight: 600;
}

.menu_price{
    font-size: 15px;
    font-weight: 600;
    color: #2764FF;
}

.menu_desc{
    font-size: 12px;
}

.menu_total_price{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;

}


.button_container{
    display: flex;
    justify-content: center;
}

.menu_add_button {
    display: inline-block; /* 버튼을 박스 형태로 */
    width: 168px;
    height: 48px;
    margin: 0 20px;
    background-color: #2F2B2B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white; 
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 900;
    text-align: center; /* 텍스트를 가운데 정렬 */
    transition: 0.3s ease; /* 호버 시 배경색 전환 효과 */
}
  
.menu_add_button:hover {
    width: 180px;
    height: 60px;
}

.cancel_button{
    display: inline-block;
    width: 168px;
    height: 48px;
    background-color: #FF3939;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white; 
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 900;
    text-align: center; /* 텍스트를 가운데 정렬 */    
    transition: 0.3s ease; /* 호버 시 배경색 전환 효과 */
}
  
.cancel_button:hover {
    width: 180px;
    height: 60px;
}